html {
    font-family:'Noto Sans TC', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    'sans-serif';
    line-height : 1.15;
    letter-spacing : 1px;
    word-spacing : 1px;
}

body {
    margin:0;
    height:100%;
}
main {
    background-color: #27254A;
    padding: 75px 150px;
}

.container {
    display: flex;
    padding: 50px 30px;
    background-color: #ebedefed;
    border: 1px;
    border-radius: 8px;
}

section {
    width: 26%;
    margin: 13px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
    padding: 15px;
    background-color: white;
    text-align: center;
}

h2 {
    padding:12px;
    text-transform: uppercase;
    font-size: 16px;
}

h3 {
    padding: 30px 0px 5px;
    font-size: 35px;
}

sup {
    font-size:25px;
    letter-spacing: 3px;
}

.month {
 font-size: 16px;
}

strong{
    text-transform: uppercase;
}

.content {
    font-size: 12px;
    line-height: 1.5;
    height: 2rem;
    overflow-wrap: break-word;
}

a {
    display: block;
    margin: 22px 0px;
    width: 100%;
    padding: 12px 0px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    border-radius:4px;
    color: black;

}

a:hover {
    background-color: black;
    color: white;
}

#pro:hover {
    background-color: #ebedefed; 
    color: black;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
    line-height:1.7;
}


.fa-check {
    color: green;
    font-size: 16px;
    letter-spacing:5px;
}

.free {
    background-color: #ebedefed;
}

h2.pro {
    background-image: linear-gradient(to right, #c6e4fe, #b37bff);
    color: white;
}

.enterprise {
    background-image: linear-gradient(to right, #f6b0c0, #f4c96a);
    color: white;
}

#pro {
    background-color: black;
    color: white;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        width: 90%;
        gap: 1%;
        /* padding: 5%;*/
    }  
    main {
         padding: 5%;
    }
    section {
        width: 85%;
        margin: 1% auto;
    }
    }